/* MJS URI Challenge 3 - Dynamic Javascript - Timed Javascript quiz */ 
#main {
    /* background: blue; */
}

#viewHighScoreButton {
    color: purple; 
    background: white;
    border: none;
}

#quizTitle {
    margin-top: 3%;
    text-align: center;
}

/* for start and answer buttons */
.defaultBtn {
    background: purple;
    border: none; 
    border-radius: 20%;    
    color: white; 
    padding: 8px;
    font-size: 20pt;
    cursor: pointer;  /* hand icon */
}

.instruction {
    text-align: center;
}

#startBtn {
    display: flex;
    margin-left: auto;
    margin-right: auto;  /* flex + auto, auto => centered! */
    margin-top: 2%;
    /* align-self: center; Wont work */
}

/* From here down for questions and answers */
#answerSection {
    width: 60%;
    margin-left: 20%;
    background: pink; /* for debugging - and I really like the look */
    display: block;
    padding: 2%;  /* amazing how margin doesnt help here, but padding does */
}

.answerBtn {
    margin-top: 1%;
}

#correctOrWrongDiv {
/*    margin-bottom: 20%;  /* Wont show up - arghh! */
    margin-bottom: 2%;
}

/* All Done Enter initials screen */ 
#allDoneSection {
    width: 60%;
    margin-left: 20%;
    background: white;
    display: block;
}

#enterInitDiv {
    /* display: inline; */
    display: flex;
}

#submitBtn {
    margin-left: 1%;
}

#nameTextBox {
    margin: 0, 2%;
}